.dropdown {
  position: absolute;
  margin: 0;
  z-index: 100;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  text-transform: none;
  display: inline-block;
  margin-top: -5px;
  border-radius: 3px;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, margin-top;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;
  right: 30px;
  top: 55px;
}

.dropdown-enter {
  opacity: 0;
  margin-top: -5px;
}

.dropdown-enter-done,
.dropdown-enter-active {
  opacity: 1;
  margin-top: 0;
  visibility: visible;
}

.dropdown-topbar {
  position: absolute;
  width: 100%;
  height: 4px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #1991EB;
  top: -3px;
  left: 0;
}

.dropdown-topbar-chevron {
  position: absolute;
  top: -#{(14px / 2) - 1px};
  right: 8px;
  display: inline-block;
  border-radius: 3px;
  width: 14px;
  height: 14px;
  background-color: #1991EB;
  transform: rotate(45deg);
  z-index: -1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.dropdown-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  background-color: #222C3C;
  color: #FFFFFF;
  font-size: 12px;
  white-space: nowrap;

  > .link {
    margin-left: 5px;
  }
}

.dropdown-content--secondary {
  background-color: #2C3748;
}

.dropdown-content--profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-action {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 14px;
  border: none;
  padding: 10px;
  background-color: #222C3C;
  border-left: 1px solid #313D4F;
  border-right: 1px solid #313D4F;
  border-top: 1px solid #313D4F;
  color: #7F8FA4;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  font-weight: 300;
  transition-property: color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.2s;

  &:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  &:nth-child(even) { background-color: #7F8FA4; }
  &:nth-child(odd) { background-color: #2C3748; }

  &:last-child {
    border-bottom: 1px solid #313D4F;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }

  &:hover { color: #FFFFFF; }

  &:disabled,
  &.disabled,
  &[disabled] {
    pointer-events: none;
    color: rgba(#7F8FA4, 0.5);
  }
}
