.button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: linear-gradient(#2DA1F8, #1991EB);
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  border-radius: 3px;
  color: #FFFFFF;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 10px;
  border: none;
  text-decoration: none;
  outline: none;
  min-width: 120px;
  height: 32px;
  white-space: nowrap;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);

  &:active {
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background: #2DA1F8;
  }

  &:first-child { margin-left: 0; }
  &:last-child { margin-right: 0; }

  &:disabled,
  &.disabled,
  &[disabled]  {
    cursor: disabled !important;
    pointer-events: none !important;
    opacity: 0.5 !important;
  }
}
